*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#authentic-logo img{
    max-width: 100%;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
#authentic-logo{
    text-align: center;
}
#authentic-recipes{
    text-align: center;
}
#authentic-text h2{
    font-size: 30px;
}
#authentic-text p{
    font-size: 18px;
    margin: 5px 8px 10px 8px;
}
.shawarma2{
    text-align: center;
}
.shawarma2 p{
    font-size: 18px;
    margin: 5px 8px 10px 8px;
}
.shawarma-photo img{
    max-width: 100%;
}
main{
    flex-grow: 1;
    background-color: #FAF9F6;
    color:#353839;
}
main p{
    font-family: serif;
}
.border-md{
    border-bottom: 8px solid #353839;
}
.border-sm{
    border-bottom: 2px solid #353839;
    margin: 0 12px 8px 12px;
}
.title{
    font-size: 2.5rem;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
    background-color: #FAF9F6;
    align-items: center;
}

header a{
    color:#FAF9F6;
    text-decoration: none;
}
/* footer */
footer { 
    background-color: #353839;
    color: #FAF9F6;
    padding: 15px;
    display: flex;
}
.footer-nav a{
    width: 33%
}
footer .footer-img{
    height:100%;
    width: 25%;
    align-self: flex-start;
    margin-left: 10px;

}
footer .footer-nav{
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;

}
.footer-nav .ul{
    height: 100%;
    width: 48%;
    align-self: flex-end;
    font-size: 1.3rem;
   
    
}
.ul ul li{
    margin-right: 10px;
}
footer img{
    max-width: 60px;
    max-height: 60px;
    border-radius: 10px;
}
.footer-nav a{
    color:#FAF9F6;
    text-decoration: none;
}